[Unit]
Description=ONVIF Server

[Service]
ExecStart=/home/pi/Polycam/onvif.sh
WorkingDirectory=/home/pi/Polycam
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target


# sudo cp onvif.service /etc/systemd/system/
# sudo systemctl enable onvif.service
# sudo systemctl start onvif.service
# sudo systemctl stop onvif.service
